<h1>Editing Tracker</h1>

<%= render 'form' %>

<%= form_tag edit_multiple_speeches_path, method: :get do %>
	<%= hidden_field_tag(:chart_id, c.id) %>
<%= submit_tag "Edit Progress", class: "btn btn-primary" %>