<h1>Toastmasters Education Tracker</h1>
<p id="goal">Hello, <b id="memberName">Member</b>.</p>
<p>Your education goal this year is to become a 
    <select id="communication">
      <option id="Competent Communicator">Competent Communicator</option>
      <option id="Advanced Communicator Bronze">Advanced Communicator Bronze</option>
      <option id="Advanced Communicator Silver">Advanced Communicator Silver</option>
      <option id="Advanced Communicator Gold">Advanced Communicator Gold</option>
    </select> and a
    <select id="leadership">
      <option id="Competent Leader">Competent Leader</option>
      <option id="Advanced Leader Bronze">Advanced Leader Bronze</option>
      <option id="Advanced Leader Silver">Advanced Leader Silver</option>
      <option id="Distinguished Toastmaster">Distinguished Toastmaster</option>
    </select>.
</p>
<table class="table table-hover">
	<thead><tr>
		<th scope="col">Manual</th>
		<th scope="col">Speech</th>
		<th scope="col">Date</th>
		<th scope="col">Title</th>
		<th scope="col">Club</th>
	</tr></thead>
	<tbody><tr>
		<td>Competent Communicator</td>
		<td>1. Icebreaker</td>
		<td>4/20/2017</td>
		<td>A Sad Story with a Happy Ending</td>
		<td>Talking Heads of Stuart</td>
	</tr>
	<tr class="bg-success">
		<td>Competent Communicator</td>
		<td>2. Organize Your Speech</td>
		<td>5/10/2017</td>
		<td>Walt Whitman through the Years</td>
		<td>Leadership Lambda</td>
	</tr></tbody>
</table>
<input maxlength="100" name="name" id="name" class="text ui-widget-content" value="Dalmo Mendonca, TM">
<p>
  <button class="btn btn-primary" onclick="update()">Save Changes</button>
</p>